body {
  font-family: Arial, sans-serif;
  background: url('https://user-images.githubusercontent.com/78348500/218320592-e82de1d4-dca2-4a76-901a-7ca5c5b3fc95.png') 
              no-repeat center center fixed;
  background-size: cover;
}

ul {
  list-style-type: square;
  background-color: rgba(255, 255, 255, 0.9);
  width: 400px;
  margin: 50px auto;
}

li {
  font-size: 18px;
  margin: 10px 0;
}
